@import "tailwindcss";

body , html{
  background: rgba(255,255,255,0.5);
  ::-webkit-scrollbar{
    width: 6px;
  }
  ::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb{
    background: cyan;
    border-radius: 50px;
  }
}

@layer utilities{
  .ul{
    padding: 4px;
    text-decoration-line: none;
    position: relative;
    transition: all .5s linear;
    &:hover{
      cursor: pointer;
      background-color: cyan;
      border-radius: 10px;
      text-decoration-line: underline;
      text-decoration-color: gray; 
      transition: text-decoration-color 0.3s ease 0.2s;
    } 
  }
}